.container{
max-width: 1400px;
margin:0 auto;
}
body{
font-family: "Poppins", sans-serif;
}
header {
background-image: linear-gradient(rgba(0,0,0, 0.4), rgba (0,0,0,0.4)),
url('./src/images/hero.png');
background-repeat: no-repeat;
background-size: cover;
color: white;
}