.container{
max-width: 1400px;
margin: 0 auto;
}
body{
font-family: "Poppins", sans-serif;
}
header {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
url('../src/images/hero.png');
background-repeat: no-repeat;
background-size: cover;
color: white;
text-align: center;
padding: 286px 292px 286px 286px;

}
h1{
font-size: 96px;
font-weight: 700;
line-height: 1.5;
margin: 0;
}
h2{
font-size: 40px;
font-weight: 400;
line-height: 60px;

}
h3{
font-size: 24px;
font-weight: 900;
line-height: 1.5;
letter-spacing: 5px;
margin: 0;
}
header a {
width: Hug (179px)px;
height: Hug (53px)px;
padding: 16px 32px 16px 32px;
gap: 10px;
opacity: 0px;
text-transform: uppercase;
color:rgba(39, 32, 68, 1);
font-size: 14px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 3px;
text-align: center;
background-color: white;
text-decoration: none;
}